@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.main-btn {
		@apply px-3 py-2 font-bold transition-all rounded-md select-none bg-aesthetic-500 font-poppins text-aesthetic-100 hover:cursor-pointer hover:bg-white focus:outline-none active:scale-95 active:bg-aesthetic-hover-500;
	}
	.main-input-field {
		@apply w-full bg-transparent border-0 border-b-4 outline-none border-b-slate-100 text-slate-100 ring-0 placeholder:text-slate-100 focus:border-aesthetic-500 focus:outline-none focus:ring-0;
	}
}
/* Custom CSS */
::-webkit-scrollbar {
	width: 3px;
	height: 5px;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(141 69 19);
	border-radius: 10px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
