@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.main-btn {
		@apply px-3 py-1 font-bold transition rounded select-none bg-aesthetic-100 text-slate-100 focus:outline-none active:scale-95;
	}
}
/* Custom CSS */
::-webkit-scrollbar {
	width: 3px;
	height: 5px;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(141 69 19);
	border-radius: 10px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
